<div class="flip"> 
    <div class="front"> 
        <img src="figs/pAP.jpg" alt="" />
    </div> 
    <div class="back">
        Aleksandra Paluszynska created the <a href="https://github.com/MI2DataLab/randomForestExplainer">randomForestExplainer</a> package. The thesis:
        <a href="https://rawgit.com/geneticsMiNIng/BlackBoxOpener/master/randomForestExplainer_Master_thesis.pdf">Structure mining and knowledge extraction from random forest with applications to The Cancer Genome Atlas project.</a>
    </div> 
</div>


