<!DOCTYPE html>
<html>
  {% include head.html %}
<script>
$(function(){
    $(".flip").flip({
        trigger: 'hover'
    });
});
</script>

  <body>
    {% include header.html %}
  <div class="section">
    <div class="container">
    <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-9">
        <p class = "site-title">
        Studia to przygoda. Przeżyj ją razem z nami!
        <br/>
         MI^2 (pronounce: <i class = "site-title">Am I square?</i>) is a group of mathematicians and computer scientist that love to play with data. We create tools, do consulting and share our positive attitude.
         </p>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
        <img src="figs/mi2f.png" alt="" />
        </div>
    </div>
    </div>
  </div>

    <!-- include footer.html -->
  </body>
</html>
