<!DOCTYPE html>
<html>
  {% include head.html %}
<script>
$(function(){
    $(".flip").flip({
        trigger: 'hover'
    });
});
</script>

  <body>
    {% include header.html %}
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4">
            <div class="flip"> 
                <div class="front"> 
                    <img src="figs/mi2archivist.jpg" alt="" />
                </div> 
                <div class="back">
                    <h3>archivist</h3> An ultimate tool for full reproducibility of your results. Save, read, share your objects.<br/>
                    <a href="https://github.com/pbiecek/archivist">GitHub</a>
                </div> 
            </div>          
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
            <div class="flip"> 
                <div class="front"> 
                    <img src="figs/mi2factorMerger.jpg" alt="" />
                </div> 
                <div class="back">
                    <h3>factorMerger</h3> An package for visual exploration of relation between groups.<br/>
                    <a href="https://github.com/MI2DataLab/factorMerger">GitHub</a>
                </div> 
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
            <div class="flip"> 
                <div class="front"> 
                    <img src="figs/mi2randomForest.jpg" alt="" />
                </div> 
                <div class="back">
                    <h3>randomForestExplainer</h3> An package for visual exploration of random Forest models.<br/>
                    <a href="https://github.com/MI2DataLab/randomForestExplainer">GitHub</a>
                </div> 
            </div>
        </div>
      </div>
    </div>
  </div>

    <!-- include footer.html -->
  </body>
</html>
