<!DOCTYPE html>
<html>

  {% include head.html %}

<script>
$(function(){
    $(".flip").flip({
        trigger: 'hover'
    });
});
</script>

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="main-col main-col-1">
      	<h2>Research</h2>
      </div>
      <div class="main-col main-col-2">
<div class="flip"> 
    <div class="front"> 
        <img src="/figs/mi2.jpg" alt="" />
    </div> 
    <div class="back">
        <h3>TEST!</h3>
    </div> 
</div>
      </div>
      <div class="main-col main-col-3">
      	<h2>Fun</h2>
      	<p><a href="https://github.com/BetaAndBit">R package: BetaBit</a><br/>
      	Datasets and functions from ,,Beta Bit'' stories for kids.</p>
      	<p>
     </div>
  </div>

      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
